* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2e3440;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d8dee9;
  text-align: center;
  /* padding: 2rem; */
}
.header {
  background: #d8dee9;
  /* background: #434c5e; */
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  color: #d8dee9;
  /* width: 100%; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 39px;
  margin-bottom: 20px;
  background: #434c5e;
  padding: 0.2rem 30px;
  /* display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 20px; */
}
/* h1::before,
h1::after {
  content: "";
  border-top: 4px double #434c5e;
  border-top: 6px double #434c5e;
} */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
span {
  border-bottom: 1px solid white;
}
.selectors {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
.continent-selector,
.case-selector {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}
.view-graph {
  margin: 0 auto;
  grid-column: 1 / span 2;
}
select#country-select {
  width: 150px;
  padding: 0.5rem 0.5rem;
}
.graph-btn {
  padding: 0.5rem 1rem;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 0 10px 15px 10px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: "";
  position: absolute;
  display: none;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.graph-container {
  /* background: #e6e6e6; */
  padding-left: 10rem;
  padding-right: 10rem;
}
